<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="BackgroundColor" value="black"/>
    <add key="ImagesPath" value="C:\desktop\AppImages"/>
  </appSettings>
  <connectionStrings>
    <add name="Main" connectionString="Data Source=JC7\SQLEXPRESS;Initial Catalog=DiaxeirhshExoplismouOTE;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="OTE.Properties.Settings.DiaxeirhshExoplismouOTEConnectionString"
      connectionString="Data Source=JC7\SQLEXPRESS;Initial Catalog=DiaxeirhshExoplismouOTE;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>